<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>egg!!</title>
</head>

<body>
  <nav class="navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">EGG</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.mcdonalds.com/us/en-us/product/egg-mcmuffin.html">EggMcMuffin McDonald's</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.kfc.co.th/menu/a-la-carte/snack-sweet/snack-sweet-1-pc-egg-tart">EggTart Kfc</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.burgerking.co.nz/menu-item/egg-cheese-muffin">Egg&CheeseMuffin Burgerking</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container ">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="tengyart-auEPahZjT40-unsplash.jpg" class="d-block w-100 ">
        </div>
        <div class="carousel-item">
          <img src="louis-hansel-gFd8krziscQ-unsplash.jpg" class="d-block w-100">
        </div>
        <div class="carousel-item">
          <img src="nick-fewings-qlLCBkTSYAI-unsplash.jpg" class="d-block w-100">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="row hen-article">
      <div class="hendetail col-lg-4 text-center">
        <img class="rounded-circle henimg" src="Rhode_Island_red.jpg" alt="">
        <h2>Rhode Island Red</h2>
        <p class="hentext">ให้ผลผลิตดีทั้งด้านไข่และเนื้อ แข็งแรงทนทางเลี้ยงง่าย และโตเร็ว
          แต่ในปัจจุบันนิยมเลี้ยงเพื่อใช้เป็นพันธุ์ตั้งต้น</p>
        <a class="btn btn-dark" href="http://eto.ku.ac.th/neweto/e-book/animal/Poultry.pdf" role="button">View details>></a>
      </div>
      <div class="hendetail col-lg-4 text-center">
        <img class="rounded-circle henimg" src="barred_rock.jpg" alt="">
        <h2>Barred Plymouth Rock</h2>
        <p class="hentext">ให้ไข่เปลือกสีน้ําตาล
          เริ่มให้ไข่เมื่ออายุประมาณ 5 เดือนครึ่ง ทนทานต่อสภาพแวดล้อมได้ดี</p>
        <a class="btn btn-dark" href="http://eto.ku.ac.th/neweto/e-book/animal/Poultry.pdf" role="button">View details>></a>
      </div>
      <div class="hendetail col-lg-4 text-center">
        <img class="rounded-circle henimg" src="Leghorn-Chickens.png" alt="">
        <h2>White Leghorn</h2>
        <p class="hentext">ให้ไข่เร็ว ให้ไข่ดก ไข่เปลือกสีขาว ทนต่ออากาศร้อนได้ดี เริ่มให้ไข่เมื่ออายุประมาณ 4 เดือนครึ่ง</p>
        <a class="btn btn-dark" href="http://eto.ku.ac.th/neweto/e-book/animal/Poultry.pdf" role="button">View details>></a>
      </div>
    </div>
    <hr class="hrtop">
    <h1 class="eggmenu-article">เมนูไข่</h1>
    <div class="covercard">
      <div class="row">
        <% for(let i = 0;i< data.length;i++){%>
          <div class="col-lg-3 col-md-6 cardeggmenu">
            <div class="card h-100 ">
              <img src="<%- data[i].image%>" class="card-img-top" alt="">
              <div class="card-body d-flex flex-column">
                <p class="card-title"><%- data[i].name%></p>
                <p class="card-text"><%- data[i].text%></p>
                <a href="https://www.google.com/search?q=<%- data[i].name%>&sxsrf=ALeKk01nOMJv7qM5sW0dvcwBIs8CXDWsgQ%3A1625235604883&source=hp&ei=lCDfYMy7M_6O4-EP6qiz-AQ&iflsig=AINFCbYAAAAAYN8upDKs20IKopWnHfkBpSRDRHWL0YgM&oq=%E0%B9%84%E0%B8%82%E0%B9%88%E0%B8%A3%E0%B8%B0%E0%B9%80%E0%B8%9A%E0%B8%B4%E0%B8%94&gs_lcp=Cgdnd3Mtd2l6EAM6BwgjEOoCECdQtaQBWLWkAWC4qAFoAXAAeACAAU-IAU-SAQExmAEAoAECoAEBqgEHZ3dzLXdperABCg&sclient=gws-wiz&ved=0ahUKEwjM1Zy3ysTxAhV-xzgGHWrUDE8Q4dUDCAc&uact=5" class="btn btn-dark mt-auto">Go details</a>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
    <hr class="hrbottom">
    <div class="d-flex justify-content-between footerweb">
      <h3>©2021</h3>
      <button type="button" class="btn btn-link" onclick="topFunction()">back to top</button>
    </div>
  </div>
  
  <script>
    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }

  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>
<style>
  *{
    font-family: 'Kanit', sans-serif;
  }
  .carousel-inner {
    max-height: 400px;
  }
  .footerweb {
    margin: 20px 0px 20px 0px;
  }
  .cardeggmenu{
    max-width: 18rem;
    padding: 5px 10px 5px 10px;
  }
  .card:hover{
    box-shadow: 0 0 12px rgba(33,33,33,.2);
  }
  .hen-article{
    margin-top: 60px;
  }
  .eggmenu-article{
    margin-bottom: 30px;
  }
  .hrtop{
    margin: 50px 0px 30px 0px;
  }
  .hrbottom{
    margin: 70px 0px 50px 0px;
  }
  .covercard{
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .hendetail{
    margin-top: 20px;
  }
  .hentext{
    color: rgba(70, 69, 69, 0.918);
  }
  .card-text{
    color: rgba(70, 69, 69, 0.918);
  }
  .card-title{
    font-size: 22px;
  }
  .henimg{
    margin-bottom: 10px;
  }
</style>
